In [62]:
import pandas as pd
import numpy as np

In [63]:
data1=pd.read_csv("C:\\Users\\KARAN\\Desktop\\machine learning\\a movie rec. system\\movies data.csv",usecols=['MovieID','Title','Genres'])
data2=pd.read_csv("C:\\Users\\KARAN\\Desktop\\machine learning\\a movie rec. system\\ratings data.csv",usecols=['UserID','MovieID','Rating','Timestamp'])

In [64]:
data1.isna().sum()

MovieID    0
Title      0
Genres     0
dtype: int64

In [65]:
data2.isna().sum()

UserID       0
MovieID      0
Rating       0
Timestamp    0
dtype: int64

In [66]:
data1.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [67]:
data2.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [68]:
data3=data1.merge(data2, on= 'MovieID', left_on=None, right_on=None, left_index=False)

In [69]:
data3=data3.drop_duplicates()
data3.head()

,MovieID,Title,Genres,UserID,Rating,Timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474

In [70]:
data3.drop(['Timestamp'],axis=1,inplace=True)

In [71]:
data3['Rating'].unique()

array([5, 4, 3, 2, 1], dtype=int64)

In [72]:
data3=data3.groupby('Rating').get_group(5)

In [73]:
data3.head()

    MovieID             Title                       Genres  UserID  Rating
0         1  Toy Story (1995)  Animation|Children's|Comedy       1       5
3         1  Toy Story (1995)  Animation|Children's|Comedy       9       5
4         1  Toy Story (1995)  Animation|Children's|Comedy      10       5
6         1  Toy Story (1995)  Animation|Children's|Comedy      19       5
11        1  Toy Story (1995)  Animation|Children's|Comedy      34       5

In [74]:
data3.drop('UserID',axis=1,inplace=True)

In [75]:
data3.head()

    MovieID             Title                       Genres  Rating
0         1  Toy Story (1995)  Animation|Children's|Comedy       5
3         1  Toy Story (1995)  Animation|Children's|Comedy       5
4         1  Toy Story (1995)  Animation|Children's|Comedy       5
6         1  Toy Story (1995)  Animation|Children's|Comedy       5
11        1  Toy Story (1995)  Animation|Children's|Comedy       5

In [76]:
data3.drop_duplicates(inplace=True)

In [77]:
Target=data3.Title

In [78]:
data3=data3.drop('Title',axis=1)

In [79]:
train=data3.Genres

In [80]:
train=pd.get_dummies(train)

In [81]:
train
data3.head()

      MovieID                        Genres  Rating
0           1   Animation|Children's|Comedy       5
2077        2  Adventure|Children's|Fantasy       5
2781        3                Comedy|Romance       5
3269        4                  Comedy|Drama       5
3426        5                        Comedy       5

In [82]:
from sklearn.neighbors import KNeighborsClassifier

In [121]:
data3['index']=[i for i in range(0,3232)]
train['index']=[i for i in range(0,3232)]
model=KNeighborsClassifier(n_neighbors=10)
train.head()

,Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|Children's|Fantasy,Action|Adventure|Animation|Horror|Sci-Fi,Action|Adventure|Children's|Comedy,Action|Adventure|Children's|Fantasy,Action|Adventure|Children's|Sci-Fi,Action|Adventure|Comedy,Action|Adventure|Comedy|Crime,...,Romance|War,Romance|Western,Sci-Fi,Sci-Fi|Thriller,Sci-Fi|Thriller|War,Sci-Fi|War,Thriller,War,Western,index
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2077,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3269,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3426,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [122]:
from sklearn.externals import joblib

In [123]:
joblib.dump(model.fit(train.iloc[:,0:-1],Target),"C:\\Users\\KARAN\\Desktop\\machine learning\\a movie rec. system\\model")

['C:\\Users\\KARAN\\Desktop\\machine learning\\a movie rec. system\\model']

In [124]:
print('Enter any one of the following genres or genres of your choice seperated by "|" ___')
print("                       *Enter the genres in an alphabetical order*",end="\n \n")
l=list(train.columns)
for i in range(10):
    print(l[np.random.randint(0,200)],end="\n or \n")
print('"Your choice in the given format"')

string=input("Enter a Genre - ")
if string not in l:
    print("Sorry the genre is not present please try again. Do enter the genres in an alphabetical order.")
else:
    test=train[data3['Genres'].str.find(string)!=-1]
    ar=model.predict(test.iloc[:,0:-1])
    ar=pd.DataFrame(ar)
    ar.drop_duplicates(inplace=True)
    print("\n\nYour Recommendations are -")
    if(len(ar)<15):
        print(ar.iloc[:,:])
    else:
        print(ar.iloc[0:15,:])

Enter any one of the following genres or genres of your choice seperated by "|" ___
                       *Enter the genres in an alphabetical order*

Adventure|Children's|Musical
 or
Action|Adventure|Drama|Romance
 or
Adventure|Animation|Children's|Comedy|Fantasy
 or
Comedy|Horror|Sci-Fi
 or
Action|Adventure|Comedy|Horror|Sci-Fi
 or
Action|Mystery|Sci-Fi|Thriller
 or
Children's|Drama|Fantasy|Sci-Fi
 or
Action|Adventure|Fantasy
 or
Action|Crime|Romance
 or
Comedy|Drama|Romance
 or
"Your choice in the given format"
Enter a Genre - Adventure


Your Recommendations are -
                                            0
0   Darby O'Gill and the Little People (1959)
1                               Alaska (1996)
2                             Anaconda (1997)
3                     Cutthroat Island (1995)
4    Baby... Secret of the Lost Legend (1985)
5        Adventures of Robin Hood, The (1938)
7                           Beach, The (2000)
8                              Catwalk (1995)
9                       Batman & Robin (1997)
12                   Air Up There, The (1994)
14               Anne Frank Remembered (1995)
16                    Before and After (1996)
17                         Judge Dredd (1995)
20            Clear and Present Danger (1994)
21                       Picture Bride (1995)

In [102]:
'''
from tkinter import*root=Tk()
root.geometry('400x100')
f1=Frame(root,bg='Cyan')
f1.pack(expand=TRUE,fill=BOTH)
l1=Label(f1,text='Movies Recomendation System \n \n \n',bg='Cyan',font=100)
l1.pack()


k1=Label(f1,bg='Cyan',text='Enter any one of the following genres or genres of your choice seperated by "|" ___')
k1.pack()
k2=Label(f1,bg='Cyan',fg='red',text="*Enter the genres in an alphabetical order*\n\n")
k2.pack()

f2=Frame(root,bg='Cyan')
f2.pack(expand=TRUE,fill=BOTH)
l=list(train.columns)

for i in range(10):
    #print(end="\n or \n")
    l2=Label(f1,bg='Cyan',text=l[np.random.randint(0,200)]+'\n\n')
    l2.pack()

e1=Entry(root)
e1.pack()
#root.mainloop()
def submit():
    global l2
    l2.destroy()
    try:
        string=e1.get()
        test=train[data3['Genres'].str.find(string)!=-1]
        ar=model.predict(test.iloc[:,0:-1])
        ar=pd.DataFrame(ar)
        ar.drop_duplicates(inplace=True)
        e1.delete(0,END)
        #print("\n\nYour Recommendations are -")
        try:
            if(len(ar)<15):
                root1=Tk()
                f0=Frame(root1)
                f0.pack()
                l3=Label(f0,text=ar.iloc[:,:].values,bg='Cyan',font=100)
                l3.pack()
                root1.mainloop()
            else:
                root1=Tk()
                f0=Frame(root1)
                f0.pack()    
                l3=Label(f0,text=ar.iloc[0:15,:].values,bg='Cyan',font=100)
                l3.pack()                
                root1.mainloop()
        except:
            f=0
    except:
        l2=Label(f1,bg='Cyan',text="Sorry the genre is not present please try again. Do enter the genres in an alphabetical order.")
        l2.pack()

b1=Button(root,text='Submit',command=submit)
b1.pack()

root.mainloop()'''

'\nfrom tkinter import*root=Tk()\nroot.geometry(\'400x100\')\nf1=Frame(root,bg=\'Cyan\')\nf1.pack(expand=TRUE,fill=BOTH)\nl1=Label(f1,text=\'Movies Recomendation System \n \n \n\',bg=\'Cyan\',font=100)\nl1.pack()\n\n\nk1=Label(f1,bg=\'Cyan\',text=\'Enter any one of the following genres or genres of your choice seperated by "|" ___\')\nk1.pack()\nk2=Label(f1,bg=\'Cyan\',fg=\'red\',text="*Enter the genres in an alphabetical order*\n\n")\nk2.pack()\n\nf2=Frame(root,bg=\'Cyan\')\nf2.pack(expand=TRUE,fill=BOTH)\nl=list(train.columns)\n\nfor i in range(10):\n    #print(end="\n or \n")\n    l2=Label(f1,bg=\'Cyan\',text=l[np.random.randint(0,200)]+\'\n\n\')\n    l2.pack()\n\ne1=Entry(root)\ne1.pack()\n#root.mainloop()\ndef submit():\n    global l2\n    l2.destroy()\n    try:\n        string=e1.get()\n        test=train[data3[\'Genres\'].str.find(string)!=-1]\n        ar=model.predict(test.iloc[:,0:-1])\n        ar=pd.DataFrame(ar)\n        ar.drop_duplicates(inplace=True)\n        e1.delete(0,END)\n        #print("\n\nYour Recommendations are -")\n        try:\n            if(len(ar)<15):\n                root1=Tk()\n                f0=Frame(root1)\n                f0.pack()\n                l3=Label(f0,text=ar.iloc[:,:].values,bg=\'Cyan\',font=100)\n                l3.pack()\n                root1.mainloop()\n            else:\n                root1=Tk()\n                f0=Frame(root1)\n                f0.pack()    \n                l3=Label(f0,text=ar.iloc[0:15,:].values,bg=\'Cyan\',font=100)\n                l3.pack()                \n                root1.mainloop()\n        except:\n            f=0\n    except:\n        l2=Label(f1,bg=\'Cyan\',text="Sorry the genre is not present please try again. Do enter the genres in an alphabetical order.")\n        l2.pack()\n\nb1=Button(root,text=\'Submit\',command=submit)\nb1.pack()\n\nroot.mainloop()'

In [137]:
data1[data1.MovieID==2]

   MovieID           Title                        Genres
1        2  Jumanji (1995)  Adventure|Children's|Fantasy

In [130]:
l=[]
l.append(train.iloc[1,:-1])
pb=model.predict(l)

In [131]:
pb

array(["Darby O'Gill and the Little People (1959)"], dtype=object)

In [132]:
data3.iloc[1]

MovieID                               2
Genres     Adventure|Children's|Fantasy
Rating                                5
index                                 1
Name: 2077, dtype: object

(3883, 3)